{{#if this.toast.visible}}
  <div class="toast toast-top toast-end z-50">
    <div class="alert alert-warning shadow-none px-4 py-2">
      <span class="text-base font-semibold">{{this.toast.message}}</span>
    </div>
  </div>
{{/if}}
