
<div class="max-w-6xl mx-auto w-[85%] space-y-6 mt-6">
  <GlobalToast />
  
  <SelectProduct @cartProducts={{@products}} as |selectedProducts| >
    {{!-- Subtotal & Actions --}}
    <div class="flex justify-between items-center mt-8 p-4 bg-base-200 rounded-lg shadow">
      <div class="text-xl font-bold text-gray-800">
        Subtotal ({{this.getCartQuantityCount}} items): ${{this.calculateSubtotal selectedProducts}}

      </div>

      <div class="flex gap-4">
        <button class="btn btn-outline btn-error" type="button" {{on "click" @clearCart}}>Clear Cart</button>
        <button class="btn btn-primary" type="button">Proceed to Pay</button>
      </div>
    </div>
  </SelectProduct>
</div>
