<div class="w-full h-48 flex items-center justify-center bg-gradient-to-r from-pink-100 via-purple-100 to-indigo-100 rounded-xl shadow-lg text-xl font-semibold text-gray-700 mt-5">
  No {{@resourceType}} available
</div>
