{{page-title "Favs"}}
{{#if @model.favProducts.length}}
  <ListProducts @searchFilteredProducts={{@model.favProducts}} />
{{else}}
  <div class="max-w-2xl mx-auto text-center mt-20 space-y-4">
    <NoAvailable @resourceType="Favourites" />
  </div>
{{/if}}
